<style>
  .datatable {
    position: absolute;
    width: 100%;
    right: 0;
  }

  .datatable th, .datatable td {
    border: solid 1px #DEEFFB;
  }

  .typeselect {
    display: none;
  }

  .typeselect + label {
    width: 90%;
    height: 30px;
    line-height: 30px;
    margin: 1px auto;
    border: 1px solid #DEEFFB;
    border-radius: 5px;
    display: block;
    text-align: center;
  }

  .typeselect:checked + label {
    background-color: #DEEFFB;
  }

  .leftdiv {
    position: absolute;
    left: 0;
    width: 10%;
    top: 0;
    /*bottom: 0;*/
    border-right: 1px solid #fff;
    padding-top: 7px;
  }
</style>
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <h3>考核指标设置</h3>
    </div>
    <form method="get" name="formSearch" id="formSearch">
      <input type="hidden" value="kpi" name="act">
      <input type="hidden" value="kpi" name="op">
      <input type="hidden" id='export' name="export" value="false">
      <table class="tb-type1 noborder search">
        <tbody>
        <tr>
          <td nowrap>
            <label for="month"> 选择月份：</label>
            <select id="month" name="month">
              {{foreach $months as $month}}
              <option value="{{$month}}" {{if $month eq $smarty.get.month }}selected{{/if}}>{{$month}}</option>
              {{/foreach}}
            </select>
          </td>
          <td>
            <button id="exportbt" name="exportbt">导出</button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="fixed-empty"></div>
  <table class="table tb-type2 " id="prompt">
    <tbody>
    <tr class="space odd">
      <th colspan="12">
        <div class="title">
          <h5>{{$lang.nc_prompts}}</h5>
          <span class="arrow"></span>
        </div>
      </th>
    </tr>
    </tbody>
  </table>
  <div style='position: relative;display: block;'>
    <form method="post" id="tableform" name="tableform" style="display:block;overflow: visible;min-height: 212px;">
      <input type="hidden" name="form_submit" value="ok"/>


      <table class="table tb-type2 nobdb datatable" style="box-sizing: border-box;">
        <thead>
        <tr class="thead" style="background-color: #F3FBFE;">
          <th class="align-center">时间</th>
          <th class="align-center">部门</th>
          <th class="align-center">考核对象</th>
          <th class="align-center">考核指标</th>
          <th class="align-center">值</th>
          <th class="align-center">说明</th>
        </tr>
        </thead>
        <tbody>
        {{if isset($cfg)}}
        {{foreach $cfg as $vo}}
        <tr class="hover member" data-cfgid="{{$vo.id}}">
          <td class=" align-center" style="width:110px;">
            {{$vo.month}}
          </td>
          {{if $vo.showorg}}
          <td class=" align-center" rowspan="{{$vo.rowspan}}" style="width:150px;">
            {{$vo.orgname}}
          </td>
          {{/if}}
          <td class=" align-center" style="width:90px;">
            {{$vo.target}}
          </td>

          <td class=" align-left" style="width:200px;color:red;font-size: 16px;padding-left:20px !important;">
            {{$vo.name}}
          </td>
          <td class="value align-right" style="color: red;width:90px;">
            {{if $vo.type eq "0"}}
            {{assign var="method" value=$vo.method }}
            <div style="white-space: pre;"><input style="width:100%;height:30px;text-align: right;padding:5px;box-sizing: border-box;" name="{{$vo.method}}" value="{{$vo.value}}"></div>
            {{else}}
            <div style="white-space: pre;">{{$vo.value}}</div>
            {{/if}}
          </td>

          <td class=" align-left">
            {{$vo.helptext}}
          </td>
        </tr>
        {{/foreach}}
        {{else}}
        <tr class="no_data">
          <td colspan="5">{{$lang.nc_no_record}}</td>
        </tr>
        {{/if}}
        </tbody>
      </table>
    </form>
  </div>
</div>
<script type="text/javascript" src="../data/resource/js/jquery-ui/jquery.ui.js"></script>
<script type="text/javascript" src="../data/resource/js/jquery-ui/jquery.ui.js"></script>
<script type="text/javascript" src="../data/resource/js/jquery-ui/i18n/zh-CN.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="../data/resource/js/jquery-ui/themes/smoothness/jquery.ui.css"/>
<link href="../data/resource/js/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css"/>
<link href="../data/resource/js/multiselect/jquery.multiselect.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="../data/resource/js/ztree/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="../data/resource/js/multiselect/jquery.multiselect.min.js"></script>
<script type="text/javascript">
  String.prototype.format = function (args) {
    var str = this;
    return str.replace(String.prototype.format.regex, function (item) {
      var intVal = parseInt(item.substring(1, item.length - 1));
      var replace;
      if (intVal >= 0) {
        replace = args[intVal];
      } else if (intVal === -1) {
        replace = "{";
      } else if (intVal === -2) {
        replace = "}";
      } else {
        replace = "";
      }
      return replace;
    });
  };
  String.prototype.format.regex = new RegExp("{-?[0-9]+}", "g");
  $(function () {

    //生成机构下拉
    $("#orgids").multiselect(multiselectoption());
    //生成日期
    $('input.date').datepicker({dateFormat: 'yy-mm-dd'});
    $('#ncsubmit').click(submitclick);
    $("#formSearch input").keypress(keypress);
    $('#ncexport').click(exportclick);
    //保存
    $("#tableform input").change(saveInput);
    $(".runbt").click(runCfg);
    $("#month").change(changeMonth);
    $("#exportbt").click(exportclick);


    function changeMonth(event) {
      var month = $(event.target).val();
      console.log(window.location.href);
      window.location.href = window.location.href + '&month=' + month
    }
    function exportkpi(){
      var month = $(event.target).val();
      console.log(window.location.href);
      window.location.href = window.location.href + '&month=' + month
    }

    function saveInput(event) {
      var input = $(event.target);
      var values = {
        'colname': input.prop("name"),
        value: input.val(),
        month: $("#month").val()
      };

      console.log(values);
      $.ajax({
        url: "index.php?act=kpi&op=saveInput_ajax",
        data: values, dataType: 'json', success: function (data) {
          console.log(data);
        }
      });
    }

    function runCfg(event) {
      var parent = $(event.target).parents("tr");
      var cfgid = parent.data("cfgid");
      var values = parent.find("input,textarea,select").map(function () {
          console.log(this);
          return {name: $(this).prop('name'), value: $(this).val()}
        }
      );
      values.push({"name": "cfgid", value: cfgid});
      $.ajax({
        url: "index.php?act=kpi&op=getvalue_ajax",
        data: values, dataType: 'json', success: function (data) {
          console.log(data);
          if (data.success) {
            parent.find('.runerror').html('');
            parent.find('.value').html(data.value);
          } else {
            parent.find('.runerror').html(data.exception);
          }
        }
      });
      return false;
    }

    function multiselectoption() {
      return {
        checkAllText: '选择全部',
        uncheckAllText: '清除选择',
        noneSelectedText: '未选择',
        selectedText: orgtext
      }
    }

    function keypress(event) {
      if (event.keyCode == 13) {
        $('#ncsubmit').click();
      }
    }


    function submitclick() {
      $("#export").val('false');
      $('#formSearch').submit();
    }

    function exportclick() {
      $("#export").val('true');
      $('#formSearch').submit();
    }

    function orgtext(n1, n2, list) {
      var texts = [];
      for (var idx in list) {
        texts.push($(list[idx]).attr("title"));
      }
      return texts.join('<br>');
    }

  });

</script>

